# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Log files
*.log

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/
